<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form (submit)="onSubmit(); $event.preventDefault()">
    <input
      type="text"
      name="username"
      [(ngModel)]="username"
      placeholder="Usuario"
      required
    />
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      placeholder="Contraseña"
      required
    />
    <button type="submit">Ingresar</button>
    <p *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </p>
  </form>
</div>
